{% extends 'inventario/base.html' %}
{% block contenido %}
<h2>{{ articulo.nombre }}</h2>
<div class="card">
  <p><b>Codigo de barra / QR:</b> {{ articulo.codigo }}</p>
  <p><b>Categoria:</b> {{ articulo.categoria }}</p>
  <p><b>Stock disponible:</b> {{ articulo.stock }}</p>
  <p><b>Ubicacion / Bodega:</b> {{ articulo.ubicacion }}</p>
  <p><b>Descripcion:</b> {{ articulo.descripcion }}</p>
  <p><b>Creado:</b> {{ articulo.creado }}</p>
  <p><b>Ultima actualizacion:</b> {{ articulo.actualizado }}</p>
  <a class="btn" href="{% url 'inventario:editar' articulo.pk %}">Editar</a>
  <a class="btn grey" href="{% url 'inventario:lista' %}">Volver</a>
</div>
{% endblock %}
